{{#each history as |historyUnit|}}
<div class="row row_tbody">
    <div class="col col-tbody">{{historyUnit.name}}</div>
    <div class="col col-tbody">{{historyUnit.title}}</div>
    <div class="col col-tbody">{{historyUnit.rentalpoint}}</div>
    <div class="col col-tbody">{{historyUnit.time}}</div>
    <div class="col col-tbody none">{{historyUnit.mean}}</div>
</div> 
{{/each}}   
